.container {
  text-align: center;
}
/* Anim One translates on the y and rotates on x and y */
.animOne {
  font-size: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform-origin: 50% 70%;
  animation: animOne 2.1s 0.1s ease-in 1 forwards;
}
/* Anim Two translates on the y and rotates on x and y 
Note: anim one and two should be used together */
.animTwo {
  font-size: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform-origin: 50% 70%;
  animation: animTwo 2.3s 0.2s ease-in 1 forwards;
}
#animX {
  margin-top: 8px;
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  animation: animX 5s 0.2s cubic-bezier(0, 0.62, 1, 0.67) forwards;
  perspective: 100px;
}
@keyframes animOne {
  0% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    color: tomato;
    transform: translateY(250px) rotateX(270deg) rotateY(90deg);
  }
  100% {
    color: crimson;
    transform: translateY(460px) rotateX(720deg) rotateY(720deg);
  }
}
@keyframes animTwo {
  0% {
    transform: translateY(0px) rotateZ(0deg) rotateY(0deg);
  }
  50% {
    color: mediumseagreen;
    transform: translateY(250px) rotateX(189deg) rotateY(142deg);
  }
  100% {
    margin: 0;
    color: dodgerblue;
    transform: translateY(470px) rotateX(360deg) rotateY(360deg);
  }
}

@keyframes animX {
  0% {
    color: black;
    transform: translate3d(0, 0, 0);
  }
  10% {
    color: gray;
    transform: rotateY(540deg);
  }
  25% {
    color: lightcoral;
  }
  50% {
    color: firebrick;
    transform: rotateZ(180deg);
  }
  75% {
    color: royalblue;
    transform: rotateX(270deg);
  }
  80% {
    color: deepskyblue;
    transform: rotateX(540deg);
  }
  90% {
    color: cyan;
  }
  100% {
    color: darkcyan;
    transform: translate3d(480px, 565px, 0px);
  }
}
